@import "_normalize.scss";
@import url("https://fonts.googleapis.com/css?family=Cuprum&display=swap&subset=cyrillic");
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.flex_wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.underline {
  text-decoration: underline;
}
header {
  height: 155px;
  @media screen and (max-width: 1200px) {
    & {
      height: 85px;
    }
  }
}
header > .flex_wrap {
  -webkit-box-align: center;
  align-items: center;
  > :nth-child(1) {
    @media screen and (min-width: 451px) and (max-width: 670px) {
      & {
        width: 50%;
      }
      img {
        width: 210px;
        padding-top: 15px;
      }
    }
    @media screen and (max-width: 450px) {
      & {
        width: 40%;
      }
      img {
        width: 190px;
        padding-top: 15px;
      }
    }
  }
  > :nth-child(2) {
    width: 35%;
    text-align: center;
    padding: 0 5px;
    @media screen and (max-width: 1200px) {
      & {
        display: none;
      }
    }
  }
  > :nth-child(3) {
    width: 15%;
    text-align: end;
    padding-left: 5px;
    padding-top: 25px;
    align-self: flex-start;
    img {
      width: 14px;
    }
    @media screen and (min-width: 451px) and (max-width: 1200px) {
      & {
        width: 18%;
      }
    }
    @media screen and (max-width: 450px) {
      & {
        width: 22%;
      }
      a[class="underline"] {
        display: none;
      }
      img {
        width: 20px;
      }
    }
  }
  > :nth-child(4) {
    width: 20%;
    text-align: end;
    padding-right: 10px;
    padding-top: 25px;
    align-self: flex-start;
    a {
      padding-right: 10px;
    }
    @media screen and (max-width: 1200px) {
      & {
        display: none;
      }
    }
  }
  > :nth-child(5) {
    width: 5%;
    @media screen and (min-width: 451px) and (max-width: 1200px) {
      & {
        width: 15%;
      }
    }
    @media screen and (max-width: 450px) {
      & {
        width: 18%;
      }
      img {
        width: 28px;
      }
    }
  }
}
#show_phones_header {
  position: relative;
  &:hover {
    #phones_header {
      position: absolute;
      top: -25px;
      right: -32px;
      display: block;
      z-index: 10;
    }
  }
}
#phones_header {
  position: absolute;
  display: none;
}
.tel {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}
#inShoppingBag a {
  position: relative;
}
#qtyGoodsInBag {
  position: absolute;
  top: -40px;
  left: 40px;
  width: 28px;
  height: 28px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 100%;
  color: white;
  background-color: #1ab0ce;
  text-align: center;
  line-height: 28px;
  @media screen and (max-width: 450px) {
    & {
      top: -20px;
      left: 20px;
      width: 24px;
      height: 24px;
      line-height: 24px;
    }
  }
}
nav {
  margin-top: -4px;
  height: 60px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05) inset;
  @media screen and (max-width: 1200px) {
    & {
      display: none;
    }
  }
  ul {
    padding: 0;
    list-style-type: none;
    width: 100%;
    li {
      padding: 18px 0;
      text-align: center;
      &:hover {
        border-top: 1px solid #1ab0ce;
        cursor: pointer;
        a {
          color: #1ab0ce;
        }
      }
      a {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    > :nth-child(1) {
      width: 10%;
      text-align: start;
    }
    > :nth-child(2) {
      width: 15%;
      position: relative;
      img {
        position: absolute;
        left: 0;
      }
    }
    > :nth-child(3) {
      width: 20%;
      position: relative;
      img {
        position: absolute;
        left: 0;
      }
    }
    > :nth-child(4) {
      width: 13%;
      position: relative;
      img {
        position: absolute;
        left: 0;
      }
    }
    > :nth-child(5) {
      width: 15%;
      position: relative;
      img {
        position: absolute;
        left: 0;
      }
    }
    > :nth-child(6) {
      width: 10%;
      position: relative;
      img {
        position: absolute;
        left: 0;
      }
    }
    > :nth-child(7) {
      width: 12%;
      position: relative;
      img {
        position: absolute;
        left: 0;
      }
    }
    > :nth-child(8) {
      width: 5%;
      text-align: end;
      position: relative;
      & > img {
        position: absolute;
        left: 0;
      }
    }
  }
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  position: absolute;
  right: 1%;
  width: 27px;
  height: 27px;
  display: inline-block;
  visibility: hidden;
  cursor: pointer;
  @media screen and (max-width: 1200px) {
    & {
      visibility: visible;
    }
  }
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 27px;
    background-color: black;
    &:nth-child(2) {
      top: 9px;
    }
    &:nth-child(3) {
      top: 18px;
    }
  }
}
#main_banner {
  background-image: url(../images/Rectangle.jpg);
  height: 500px;
  text-align: center;
  background-position: top;
  position: relative;
  h1 {
    font-size: 57px;
    margin: 0px;
    padding-top: 153px;
    color: #ffffff;
    @media screen and (min-width: 451px) and (max-width: 670px) {
      & {
        font-size: 40px;
      }
    }
    @media screen and (max-width: 451px) {
      & {
        font-size: 30px;
      }
    }
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #ffffff;
  }
}
#button_main_banner {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 33px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding-top: 15px;
  background-color: #1ab0ce;
  border-radius: 2px;
  color: #ffffff;
  &:hover {
    box-shadow: 0px 0px 7px 0px rgba(249, 242, 242, 0.81);
  }
}
#call_me_banner {
  position: absolute;
  right: 1%;
  bottom: -77px;
}
h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  font-weight: 500;
  color: #3a4047;
}
#about_us {
  padding: 0 10px;
  h3 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    color: #3a4047;
  }
  p {
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    color: #3a4047;
  }
}
#products > .flex_wrap {
  @media screen and (max-width: 670px) {
    & {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
    }
  }
}
.products {
  height: 291px;
  width: 32%;
  margin-top: 10px;
  border: 1px solid #dce1e6;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  @media screen and (max-width: 670px) {
    & {
      width: 70%;
    }
  }
  img {
    margin: 18px;
    @media screen and (max-width: 770px) {
      & {
        margin: 8px;
        width: 30px;
      }
    }
  }
}
.catalog {
  width: 75%;
  h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #3a4047;
  }
}
.catalog_item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  a {
    font-size: 14px;
    margin: 10px 0;

    color: #3a4047;
    display: inline-block;
    &:hover {
      color: #1ab0ce;
    }
  }
}
#news {
  box-shadow: 0px -1px 0px 0px rgba(214, 211, 211, 1);
  padding-top: 20px;
  margin-top: 40px;
  > a {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 190px;
    height: 25px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding-top: 7px;
    color: #1ab0ce;
    border-radius: 2px;
    border: 1px solid #1ab0ce;
    &:hover {
      box-shadow: 0px 0px 5px 0px rgba(26, 176, 206, 1);
    }
  }
}
#news > .flex_wrap {
  @media screen and (max-width: 670px) {
    & {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
    }
  }
}
.news_date {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #bec7d1;
}
.news_content {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3a4047;
}
.news_item {
  height: 170px;
  cursor: pointer;
  @media screen and (max-width: 670px) {
    & {
      width: 70%;
    }
  }
  &:hover {
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05), 0px -1px 0px #1ab0ce;
    .news_content {
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;

      color: #1ab0ce;
    }
  }
}
#call_me_footer {
  position: absolute;
  right: 1%;
  top: -70px;
  @media screen and (max-width: 1200px) {
    & {
      display: none;
    }
  }
}
footer {
  padding: 15px 0;
  margin-top: 50px;
  background-color: rgb(240, 240, 240);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
  height: 120px;
  position: relative;
  .tel {
    @media screen and (max-width: 450px) {
      & {
        font-size: 12px;
      }
    }
  }
  .flex_wrap {
    & > div {
      width: 28%;
    }
    > :nth-child(1) {
      @media screen and (min-width: 451px) and (max-width: 670px) {
        & {
          width: 50%;
        }
        img {
          width: 210px;
          padding-top: 15px;
        }
      }
      @media screen and (max-width: 450px) {
        & {
          width: 30%;
        }
        img {
          width: 150px;
          padding-top: 15px;
        }
      }
    }
    > :nth-child(2) {
      @media screen and (max-width: 1200px) {
        & {
          display: none;
        }
      }
    }
    > :nth-child(3) {
      padding-left: 25px;
    }
    > :last-child {
      width: 23%;
      text-align: right;
      @media screen and (max-width: 1200px) {
        & {
          width: 50%;
          padding-top: 20px;
        }
      }
      @media screen and (max-width: 450px) {
        & {
          width: 70%;
        }
      }
      img {
        padding-left: 15px;
        @media screen and (min-width: 451px) and (max-width: 1200px) {
          & {
            padding-left: 5px;
          }
        }
        @media screen and (max-width: 450px) {
          & {
            padding-left: 5px;
            height: 17px;
          }
        }
      }
      span {
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        font-family: "Cuprum", sans-serif;
        color: #3a4047;
      }
    }
  }
  p {
    font-size: 14px;
    color: #3a4047;
    @media screen and (max-width: 450px) {
      & {
        font-size: 10px;
      }
    }
  }
}
#nav_footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
  height: 125px;
  @media screen and (max-width: 1200px) {
    & {
      display: none;
    }
  }
}
.nav_footer {
  font-size: 14px;
  margin: 8px 0;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #3a4047;
  display: inline-block;
  @media screen and (max-width: 450px) {
    & {
      font-size: 12px;
    }
  }
  &:hover {
    color: #1ab0ce;
  }
}

#show_phones_footer {
  position: relative;
  &:hover {
    #phones_footer {
      position: absolute;
      bottom: -15px;
      right: -35px;
      display: block;
      z-index: 10;
    }
  }
}
#phones_footer {
  position: absolute;
  display: none;
}

